html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body#background {

    background-image: url("../../img/harry-potter-background.png");
    background-color: rgb(193, 162, 124);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position-x: center;
}

h1#title {
    font-family: 'Harry Potter', sans-serif;
    font-size: 2em;

}

input#searchBar {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
}

button#search-button {
    width: 45%;
    height: 60%;
    padding: 12px 20px;
    margin: 8px 0; 
}