* {
    box-sizing: border-box;
}

html,
body {
    --height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Lato Black', sans-serif;
    color: #ffffff;
    margin-bottom: 0;
}

p {
    font-family: 'Lato Black', sans-serif;
    color: #ffffff;
}

section {
    height: var(--height);
    display: flex;
    align-items: center;
}

section#home {
    height: var(--height);
    background-color: #000000;
    justify-content: center;
    visibility: visible;
}

section#home h1.hello {
    font-size: 25vw;
}

section#about {
    display: flex;
    justify-content: center;
    background: #ffffff;
    padding: 0%;
    height: var(--height);
    transition-delay: 0s;
}

section#about h1.about-title {
    font-size: 15vw;
    color: #000000;
    margin-top: 0;
    margin-right: 30px;
}

section#about p.about-text {
    font-size: 3vw;
    color: #000000;
    padding: 0;
    margin-top: 0;
}
